<div class="min-h-screen w-full flex flex-col items-center bg-white">
  <header class="w-full flex justify-center py-6">
    <img src={~p"/images/refood-cropped-192.png"} width="56" alt="Refood" />
  </header>
  <main class="w-full max-w-md flex-1 px-6 pb-10">
    <.flash_group flash={@flash} />
    {@inner_content}
  </main>
</div>
