<.header>
  Novo Produto
  <:subtitle>
    <p>Use este formulário para registrar um novo tipo de produto.</p>
    <strong>Certifique-se de que não haja outro produto com descrição similar!</strong>
  </:subtitle>
</.header>

<.product_form changeset={@changeset} action={~p"/products"} />

<.back navigate={~p"/products"}>Voltar</.back>
