@import "tailwindcss";

@theme {
    --font-sans: '"Helvetica Neue"', "Arial", 'sans-serif';
    --font-serif: '"Helvetica Neue"', "Arial", 'sans-serif';
    --font-mono: '"Helvetica Neue"', "Arial", 'sans-serif';
    --color-brand: "#FD4F00"
}

@plugin "@tailwindcss/forms"