<.header>
  Novo Inventário
  <:subtitle>Exemplo: Cozinha, Frigorífico 1, etc.</:subtitle>
</.header>

<.storage_form changeset={@changeset} action={~p"/storages"} />

<.back navigate={~p"/storages"}>Voltar</.back>
