<.header>
  Adicionar Item
</.header>

<.add_item_form
  storage={@storage}
  changeset={@changeset}
  action={~p"/storages/#{@storage}/items"}
/>

<.back navigate={~p"/storages/#{@storage}"}>Voltar</.back>
